version: '3.3'
networks:
        awx_network:
secrets:
  my_secret_pwd:
           file: /tmp/senha.txt

volumes:
        postgres_fs: 
        mongodb:
#       grafana:
services:
  postgres:
    image: "postgres:9.6"
    container_name: awx_postgres
    environment:
      POSTGRES_USER: awx
      POSTGRES_PASSWORD: awxpass
      POSTGRES_DB: awx
    volumes:
     - postgres_fs:/var/lib/postgresql/data/
    networks:
     - awx_network

  mongo: 
    image: mongo:latest
    container_name: awx_mongo
    volumes:
     - mongodb:/data/db
    networks:
     - awx_network

  grafana:
    image: "grafana/grafana:latest"
    container_name: awx_grafana
    networks:
     - awx_network

  logstash:
    image: "logstash:alpine"
    container_name: awx_logstash
    networks:
     - awx_network

  rabbitmq:
    image: "rabbitmq:3"
    container_name: awx_rabbitmq
    environment:
      RABBITMQ_DEFAULT_VHOST: awx
    networks:
     - awx_network

  memcached:
    image: "memcached:alpine"
    container_name: awx_memcached
    networks:
     - awx_network

  awx_web:
    image: "ansible/awx_web:1.0.6.5"
    container_name: awx_web
    ports:
      - "80:8052"
    hostname: awxweb
    user: root
    environment:
      SECRET_KEY: aabbcc
      DATABASE_USER: awx
      DATABASE_PASSWORD: awxpass
      DATABASE_NAME: awx
      DATABASE_PORT: 5432
      DATABASE_HOST: postgres
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_VHOST: awx
      MEMCACHED_HOST: memcached
      MEMCACHED_PORT: 11211
    networks:
     - awx_network

  awx_task:
#   image: "geerlingguy/awx_task:1.x"
    image: "ansible/awx_task:1.0.6.5.0"
    container_name: awx_task
    privileged: true
    hostname: awx
    user: root
    secrets:
            - my_secret_pwd
#   configs:
#     - source: krb5
#       target: /tmp/krb5.conf
    environment:
      USER_DOMAIN: anderson.madureira
      PASSWORD_DOMAIN_FILE: /run/secrets/my_secret_pwd
      SECRET_KEY: aabbcc
      DATABASE_USER: awx
      DATABASE_PASSWORD: awxpass
      DATABASE_NAME: awx
      DATABASE_PORT: 5432
      DATABASE_HOST: postgres
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_VHOST: awx
      MEMCACHED_HOST: memcached
      MEMCACHED_PORT: 11211
    networks:
     - awx_network

